@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-link {
  font-family: Inter;
  color: #fff !important;
  font-weight: 500;
}


.logo {
  width: 120px;
  margin-left: 3em;
  
}
.navIcon{
  width: 25px;

}
.left{
  margin-left: 2em;
}
.icons{
  margin-right: 3.5em;
}


.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: linear-gradient(180deg, rgba(19, 38, 68, 0.4) 7%, rgba(19, 38, 68, 0.27) 93%), url("../img/WhatsApp\ Image\ 2024-06-14\ at\ 2.15.26\ PM.jpeg") center/cover no-repeat;
  z-index: -1;
}
.hero{
  padding-top: 1%;
}


.heroContainer{
  width: 44.6%;
  max-width: 800px;
  display: grid;
  grid-auto-rows: max-content;
  align-content: center;
  gap: 1em;
  padding-top: 4em;
  padding-bottom: 100px;
  text-align: center;
  margin: auto;
  color: #fff;

}
.heroTitle{
  font-size: 3rem;
  font-family: Montserrat;
  font-weight: 800;
}
.heroTitle span{
  font-size: 1.6rem; 
  font-weight: 600;
}
.heroSub{
  width: 87%;
  display: grid;
  grid-auto-rows: max-content;
  align-content: center;
  gap: 1em;
  text-align: center;
  margin: auto;
}
.heroParagraph{
  font-family: Inter;
  font-size: 1rem;
  margin-bottom: 20px;
}
.cta{
  display: inline-block;
  background-color: #132644;
  justify-self: center;
  color: white;
  text-decoration: none;
  padding: 10px 50px;
  border-radius: 30px;
  font-family: Inter;

}
